.imagenEncabezado {
    height: 323px;
    width: 89.1vw;
}

.texto {
    font-family: 'Indie Flower', cursive;
    font-weight: bolder;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-align: left;
}